* {
  /* border: 1px solid #0A090C; */
  font-family: Didot, serif;
  font-variant: small-caps;
}

html {
  background-color: #0A090C;
}

h1 {
  font-weight: bold;
  font-size: 2vw;
  align-self: center;
}

h2 {
  font-weight: bold;
  font-size: 1vw;
  align-self: center;
}

section {
  display: flex;
  height: 80vh;
  width: 80vw;
  justify-content: center;
  margin-left: 6%;
}


/* buttons */
.home-button {
  height: 10vh;
  width: 12vw;
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  font-size: 24px;
}

.hydration-button {
  height: 10vh;
  width: 12vw;
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  font-size: 24px;
}

.sleep-button {
  height: 10vh;
  width: 12vw;
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  font-size: 24px;
}

.activity-button {
  height: 10vh;
  width: 12vw;
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  font-size: 24px;
}

.user-button {
  height: 10vh;
  width: 12vw;
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  font-size: 24px;
}

/* hidden */
.hidden {
  display: none!important;
}

/* home */
.home-page {
  background-color: #4C5C68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.header-banner {
  display: flex;
  height: 3%;
  justify-content: space-between;
  background-color: #222222
}

.header-date {
  font-size: 3vw;
  margin-left: 3%;
  color: #F0EDEE;

}

.header-message {
  font-size: 4vw;
  max-width: 50vw;
  color: #F0EDEE;
}

.data-small {
  font-weight: bold;
  font-size: 7pt;
  align-self: center;
  color: black;
}

.data-medium {
  font-weight: bold;
  font-size: 9pt;
  color: black;
}

.data-large {
  font-weight: bold;
  font-size: 17pt;
  margin-top: 3%;
  margin-bottom: 5%;
  color: black;
}

.main-page {
  background-color: #222222;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07393C;
  box-shadow: 3px 3px 10px black;
}

.step-goal {
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  width: 85%;
  height: 90%;
}

/* user info page */
.user-info-box {
  background-color: #F0EDEE;
  color: #07393C;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  width: 90%;
  height: 95%;
}

/* hydration page */
.hydration-page {
  background-color: #4C5C68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.hydration-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  height: 65vh;
  margin-left: 5vw;
}

.daily-water {
  background-color: #F0EDEE;
  grid-area: 1 / 1 / 4 / 7;
  color: #07393C;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  height: 25vh;
}

.weekly-water {
  background-color: #F0EDEE;
  grid-area: 5 / 1 / 8 / 8;
  color: #07393C;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 35vh;
}


/* sleep page */
.sleep-page-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
  height: 70vh;
  width: 70vw;
  margin-left: 3vw;
}

.sleep-page {
 background-color: #4C5C68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.daily-sleep {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 30vw;
}

.avg-sleep {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 1 / 4 / 4 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width:  30vw;
}

.weekly-sleep {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 4 / 1 / 7 / 7;
  border-radius: 20px;
  flex-direction: row;
  width: 65vw;
  height: 38vh;
}


/* activity page */
.activity-page {
 background-color: #4C5C68;
 border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px black;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  padding-bottom: 3vh;
  height: 70vh;
  width: 70vw;
  margin-left: 3vw;
}

.daily-steps {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 1 / 1 / 5 / 4;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  padding-bottom: 30px;
  height: 40vh;
  width: 30vw;
}

.daily-activity {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 1 / 4 / 3 / 7;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
}

.weekly-activity {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 3 / 4 / 7 / 7;
  border-radius: 20px;
}

.compare-users {
  background-color: #F0EDEE;
  color: #07393C;
  grid-area: 5 / 1 / 7 / 4;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  height: 25vh;
  justify-content: center;
}

.compareUserDailyActivity {
  padding-left: 7%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
